.containerDetails{
    background-image: url("../images/fondorecetablanca.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-attachment: fixed;
    };
    h5{
        background-color: white;
        color:white;
        };
  
    .btnToHome{
        margin-top: 4%;
    };

.btnToHomeLink{
    border-radius: 15px;
    cursor: pointer;
      color: rgb(105, 69, 69);
      border: 4px solid rgb(21, 21, 21) ;
      font-size: 20px;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      background-color: rgba(40, 40, 40, 0.216);
};

