.containerHome {
    /* background-image: url("../images/some\ fruits\ kitchen.jpg"); */
    /* margin: 0;*/
    
    height: 200vh;
    display: inline-block;
    background-attachment:fixed;
    background-size: cover; 
    background-position: 200%;
    background-color: #050200;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    };
    .divCard{
        display: flex;
    }
    .linkCards{
        outline: none;
  text-decoration: none;
    }
   
    .bg2{
        background-color: rgba(28, 26, 26, 0,83);
        backdrop-filter: blur(3px);
        
        }
        
        
.filterDiets{
    margin-top: 17px;
    background-color: rgba(40, 40, 40);
    color:rgb(174, 160, 140);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100%;
} 

        

    .cards {
        display:grid;
        grid-template-columns: repeat(2, 2fr);
        align-content: center;
        align-items:center;
        width: 100%;
        margin-bottom: 5%;
    }
    
    .filters{
        display:flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 3%;
    };


