.containerHome {
    background-image: url("../images/some\ fruits\ kitchen.jpg");
    background-color:#b9825f;
    margin: 0;
    height: 200%;
    background-size: cover; 
    background-position: 200%;
    background-attachment:fixed;
    display: inline-block
    
    };
   
    .bg2{
        background-color: rgba(185, 13, 13, 0.83);
            backdrop-filter: blur(3px);
        
        }
        
        
.filterDiets{
    background-color: rgba(40, 40, 40);
    color:rgb(174, 160, 140);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 100%;
} 
        /* .head {
          height: 90px;
         
          font-size:55px;
          margin-top: 0;
          margin-bottom: 2%;
          color: rgb(255, 255, 255);
          font-size: 70px;
          text-shadow: rgba(218, 17, 17, 0.648) --4px;
        } */
        

    .cards {
        display:grid;
        grid-template-columns: repeat(2, 2fr);
        align-content: center;
        align-items:center;
        width: 100%;
        margin-bottom: 5%;
    }
    
    .filters{
        display:flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 3%;
    };


