.btnPag {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 80%;
  margin-left: 10%;
}

.btnPag button {
  border-radius: 15px;
  background-color: rgb(60, 58, 58);
  color: rgb(163, 138, 96);
  border-radius: 0.3em;
  border: 1px solid;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 100%;
  width: 7%;
}
.btnPag button.active {
  background-color: red;
}

.btnPag button:hover {
  color: rgb(233, 187, 187);
}
